.container {
    width: 700px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 20px;
    background-color: goldenrod;
    font-size: 20px;
}
form {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
    padding: 20px;
}
form input {
    width: 100%;
    font-size: 18px;
    padding: 10px 0;
}

form i {
    color: red;
    display: none;
}

.full-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list {
    margin: 10px;
    border: 1px solid;
    width: 200px;
    text-align: center;
    padding: 20px;
}